.projectCard{
  width: 100%;
  min-height: 100px;
  // border: 1.5px solid grey;
  background: white !important;
  padding: 0px;
  border-top-left-radius: 3px;
  margin: 0px;
  color: #333333;
  transition-duration: 0.3s !important;

  &:hover{
    transform: skewX(-3deg);
    transition-duration: 0.3s !important;
    box-shadow: 5px 4px #FF5376;
  }
  header{
    width: 100%;
    padding: 10px;
    border-bottom: 1.5px solid rgb(240,240,240);
    .enlace{
      float: right;
      filter: invert(100%) !important;
    }
  }
  .content{
    padding: 10px;
    width: 100% !important;
    margin-left: 0px !important;
    a{
      font-family: arial, cursive !important;
      font-size: 15px;
      color: #2980b9 !important;
      &:hover{
        color: #2980b9 !important;
        text-decoration: underline !important;
      }
    }
  }

}
