.ContactPage{
  .btn[type="submit"]{
    background-color: rgba(255,255,255,.05) !important;
    height: 50px;
    border-radius: 0px !important;
    border: none !important;
    color: #fff;
    padding-left: 50px;
    padding-right: 50px;
    transition-duration: 0.3s;

    &:hover{
      transition-duration: 0.3s;
    }
  }
}
