.HomePage{

  canvas{
    background-color: #2A202F;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0 !important;
  }

  section.hero{
    .myName{
      margin: 0px 0px 10px 0px !important;
      text-shadow: 3px 2px rgba(255,255,255,0.3);
    }
    .myProfession{
      text-shadow: 3px 1px 5px transparentize(#FF5376, .1);

    }
  }
}
